<nav class="navbar navbar-default">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" [routerLink]="['/']">D3 Playgound</a>
        </div>
        <ul class="nav navbar-nav">
            <li><a [routerLink]="['/cycling']">Scatterplot Chart</a></li>
            <li><a [routerLink]="['/gdp']">Bar Chart</a></li>
            <li><a [routerLink]="['/temperature']">Heat Map</a></li>
            <li><a [routerLink]="['/countries']">Force-directed Graph</a></li>
            <li><a [routerLink]="['/meteorite']">World Map</a></li>
            <li><a [routerLink]="['/test']">Test</a></li>
        </ul>
    </div>
</nav>