<h1>Global warming</h1>
<h2>Monthly Global Land-Surface Temperatures <small>1753-2015</small></h2>

<p>
  The heat map visualized the temperature variance for each month and year in relation to a base temperature of 8.66&#8451;,
  which is the estimated average temperature between January 1951 and December 1980. 
  Warmer temperatures are shown in red colors, while colder temperatures are visualized in blue.
  The line graph shown on top of the heat map visualizes the trend of an increase in the average yearly temperature.
</p>

<div>
  <app-heat-map [data]="data" [width]="1110" [height]="600"></app-heat-map>
</div>
