rect {
    fill: #337ab7;
}

.axis path {
    fill: none;
    stroke: black;
    stroke-width: 1px;
}

.axis line {
    fill: none;
    stroke: black;
}

.axis text {
    font-family: sans-serif;
    font-size: 12px;
}

.graph-tooltip {
    font-family: sans-serif;
    font-size: 12px;
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;

    /* Position the tooltip */
    position: relative;
    z-index: 10;

    pointer-events: none;
    
}
.graph-tooltip::after {
    content: " ";
    position: absolute;
    top: 100%; /* At the bottom of the tooltip */
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: black transparent transparent transparent;
}