<div class="jumbotron">
<h1>D3 Playground</h1>

<p>Several interactive data visualizations to get a feel for the Javascript library D3. Features tested include 
    data binding, scaling, axes, transitions, interactive filtering.
</p>

<div class="row">
  <div class="col-md-2">
    <div class="thumbnail">
      <a [routerLink]="['/cycling']"><img src="preview/cycling.png"></a>
      <div class="caption">
        <b>Scatterplot</b>
      </div>
    </div>
  </div>
  <div class="col-md-2">
    <div class="thumbnail">
      <a [routerLink]="['/gdp']"><img src="preview/gdp.png"></a>
      <div class="caption">
        <b>Bar Chart</b>
      </div>
    </div>
  </div>
  <div class="col-md-2">
    <div class="thumbnail">
      <a [routerLink]="['/countries']"><img src="preview/countries.png"></a>
      <div class="caption">
        <b>Graph</b>
      </div>
    </div>
  </div>
  <div class="col-md-2">
    <div class="thumbnail">
      <a [routerLink]="['/temperature']"><img src="preview/temperatures.png"></a>
      <div class="caption">
        <b>Heat Map</b>
      </div>
    </div>
  </div>
  <div class="col-md-2">
    <div class="thumbnail">
      <a [routerLink]="['/meteorite']"><img src="preview/meteorites.png"></a>
      <div class="caption">
        <b>World Map</b>
      </div>
    </div>
  </div>
  <div class="col-md-2">
    <div class="thumbnail">
      <a [routerLink]="['/reactive-meteorite']"><img src="preview/reactive-meteorites.png"></a>
      <div class="caption">
        <b>rxjs-based Map</b>
      </div>
    </div>
  </div>
</div>

<p>
    The following resources I found really useful:
    <br>
    <a href="http://chimera.labs.oreilly.com/books/1230000000345" target="_blank">Interactive Data Visualization for the Web <small>by Scott Murray</small></a>
    <br>
    <a href="https://github.com/d3/d3/wiki/API-Reference" target="_blank">D3 API Reference</a>
</p>
</div>

